ninja  # For faster builds.
psutil
ray
pandas  # Required for Ray data.
pyarrow  # Required for Ray data.
sentencepiece  # Required for LLaMA tokenizer.
numpy
einops  # Required for phi-1_5
torch
transformers  # Required for Mistral.
xformers  # Required for CUDA 12.1.
fastapi
uvicorn[standard]
pydantic == 1.10.13  # Required for OpenAI server.
